{% extends "home.html" %}
{% load static %}

{% block content %}

    <div class="row">
        {% for album in albums %}
        <div class="col-md-4" style="width: 20rem; margin-bottom: 3rem;">
            <div class="card">
                <img class="card-img-top" src="{{ album.thumb.url }}" alt="{{ album.title }}">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ album.title }}
                    </h4>
                    <p class="card-text">
                        {{ album.description|truncatechars:120 }}
                    </p>
                    <a href="{% url 'album' album.slug %}" 
                       class="btn btn-primary">
                        View More..
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination center">
        <span class="step-links">
            {% if albums.has_previous %}
                <a href="?page={{ albums.previous_page_number }}" 
                   class="waves-effect waves-light btn btn-large">
                    Previous
                </a>
            {% endif %}

            {% if albums.has_next %}
                <a href="?page={{ albums.next_page_number }}" 
                   class="waves-effect waves-light btn btn-large">
                    Next
                </a>
            {% endif %}
        </span>
    </div>

{% endblock %}